/* tailwind connection */
@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@layer utilities {
  @property --border-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes rotate-border {
    from { --border-angle: 0deg; }
    to { --border-angle: 360deg; }
  }

  .animate-gradient-border {
    animation: rotate-border 3s linear infinite;
  }
}

@keyframes shine {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.animate-shine-infinite {
    animation: shine 3.0s ease-in-out infinite;
}